<header>
        <ul class="no-bullets">
            <li>
                <form action="/main" method="GET">
                    <button>Home</button>
                </form>
            </li>
            <li>
                <form action="/friends" method="GET">
                    <button>Friends</button>
                </form>
            </li>
            <li>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button>Logout</button>
                </form>
            </li>
        </ul>
</header>

<section class="list-header">
    <form action="/lists/<%= list_details['id']%>" method="POST">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="list_id" value="<%= list_details['id']%>">
        <h2>
            <%= list_details['list_title'] %>
        </h2>
        <label for="rename-list">
            Rename List
        </label>
        <input type="text" name="new_list_title">
        <input type="submit" value="Rename this List">
    </form>
</section>

<br>

<section class="add-gift">
    <form action="/lists/<%= list_details['id']%>/add-gift" method="POST">
       <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="list_id" value="<%= list_details['id']%>">
        <label for="quantity">
            I wish I had...
            <input type="text" name="quantity">
        </label>
        <label for="gift_title">
            of
            <input type="text" name="gift_title">
        </label>
        <label for="gift_description">
            like
            <input type="text" name="gift_description">
        </label>
        <label for="size">
            as big as
            <input type="text" name="size">
        </label>
        <input type="submit" value="Add to this Wishlist">
    </form>
</section>

<br>

<section class="wishlist">
    <h2>I've asked for:</h2>
    <ul class="no-bullets">
        <% results.each do |gift|%>
            <li>
                <form action="/lists/<%= list_details['id']%>/edit" method="POST">
                    <input type="hidden" name="_method" value="PATCH">
                    <input type="hidden" name="gift_id" value="<%= gift['gift_id']%>">
                    <label for="quantity">
                        Quantity
                    </label>
                        <input type="text" name="quantity" value="<%= gift['quantity'] %>">
                    <label for="gift_title">
                        Gift
                    </label>
                        <input type="text" name="gift_title" value="<%= gift['gift_title'] %>">
                    <label for="gift_description">
                        Description
                    </label>
                        <input type="text" name="gift_description" value="<%= gift['gift_description'] %>">
                    <label for="size">
                        Size
                    </label>
                        <input type="text" name="size" value="<%= gift['size'] %>">
                    <br>                 
                    <input type="submit" value="Update gift">
                </form>
                <form action="/lists/<%= list_details['id']%>/delete/" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete gift">
                </form>
            </li>
        <% end%>
    </ul>
</section>
