<header>
        <ul class="no-bullets">
            <li>
                <form action="/main" method="GET">
                    <button>Home</button>
                </form>
            </li>
            <li>
                <form action="/friends" method="GET">
                    <button>Friends</button>
                </form>
            </li>
            <li>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button>Logout</button>
                </form>
            </li>
        </ul>
</header>

<section class="list-header">
    <form action="/lists/<%= list_details['id']%>" method="POST">
    <input type="hidden" name="_method" value="put" />
    <h2>
        <%= list_details['list_title'] %>
    </h2>
    <label for="rename-list">
        Rename List
    </label>
    <input type="text" name="new_list_title">
    <input type="button" value="Rename this List">
    </form>
</section>

<br>

<section class="add-gift">
    <form action="/lists/<%= list_details['id']%>">
        <input type="hidden" name="_method" value="PUT">
        <label for="gift_title">
            Gift
            <input type="text" name="gift_title">
        </label>
        <label for="gift_description">
            Decription
            <input type="text" name="gift_description">
        </label>
        <label for="quantity">
            Quantity
            <input type="text" name="quantity">
        </label>
        <label for="size">
            Size
            <input type="text" name="size">
        </label>
        <input type="button" value="Add to this Wishlist">
    </form>
</section>

<br>

<section class="wishlist">
    <h2>I've asked for:</h2>
    <ul class="no-bullets">
        <% results.each do |gift|%>
            <li>
                <form action="/lists/<%= list_details['id']%>/edit/<%= gift['id']%>" method="POST">
                    <input type="hidden" name="_method" value="PATCH">
                    <input type="text" name="quantity" value="<%= gift['quantity'] %>">
                    <input type="text" name="gift_title" value="<%= gift['gift_title'] %>">
                    <input type="text" name="gift_description" value="<%= gift['gift_description'] %>">
                    <input type="text" name="size" value="<%= gift['size'] %>">
                    <input type="button" value="Update gift">
                </form>
                <form action="/lists/<%= list_details['id']%>/delete/" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="button" value="Delete gift">
                </form>
            </li>
        <% end%>
    </ul>
</section>
